<div id="ball-wrapper">
	<ul>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball" style="background-color:rgba(255,80,30,1);"></div><!-- red ball! -->
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
		<br>
		<li>
			<div class="ball-container">
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			  <div class="ball"></div>
			</div>
		</li>
	</ul>
</div><!-- end ball wrapper -->