<!-- <div id="bg-img"></div>
 -->

<div>
	  <audio id="audioElement" src="/assets/Along-The-Coastline.mp3" cx="500px" cy="500px;"></audio>
  <div id="graph" class="graph"></div>
  <button onclick="document.getElementById('audioElement').play()">Play the Audio</button>
  <button onclick="document.getElementById('audioElement').pause()">Pause the Audio</button>
  <button onclick="document.getElementById('audioElement').volume+=0.1">Increase Volume</button>
  <button onclick="document.getElementById('audioElement').volume-=0.1">Decrease Volume</button>
</div>



<footer>
	<hr>

  <div id="logo-show"></div>
</footer>
