/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@media screen and (max-device-width: 800px) {
	body { 
		background: url(bg-image.jpg) #000 no-repeat center center fixed; 
	}
	#bgvid { 
		display: none; 
	}
}





/** =============== INDEX ================ **/

body {
	margin: 0;
	background-color: black;
}

 video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	// background: url(polina.jpg) no-repeat;
	background-size: cover;
	opacity: .7;
}

#container {
	margin-top: 30vh;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	margin-top: 45px;
	text-align: center;
}

#logo {
	background: url(current-logo-white-red.png) no-repeat;
	background-size: contain;
	height: 150px;
	width: 375px;
	margin: 0px auto;
	z-index: 99;
	opacity: .9;
}

h1, h2, h3, h4, h5, p {
	font-family: 'Lato 700', sans-serif;
	color: white;
	text-shadow: 0px 0px 3px .6;
	text-align: center;
}

h1, h2, {
	font-family: 'Lato 700', sans-serif;
}

h3, h4, h5, {
	font-family: 'Lato 100', sans-serif;
}

.slogan {
	position: relative;
	bottom: -25px;
	text-align: center;
	font-family: 'Lato 300', sans-serif;
	color: white;
	text-shadow: 0px 0px 3px .6;
}

.submit_button {
  // font-style: bold;
  margin-top: 20px;
  padding: 6px 13px;
  border: 1px solid white !important;
  border-radius: 100px;
  font-family: 'Lato 300', sans-serif;
  font-size: 1.6em;
  color: white !important;
  background: none !important;
  box-shadow: 0px 1px 5px rgba(000,000,000, .6);
  text-shadow: 0px 1px 5px rgba(000,000,000, .6);
  // background: rgba(black, 0);
}

.submit_button:hover {
  border: 1px solid rgba(211, 22, 79, 1) !important;
  color: rgba(211, 22, 79, .9) !important;
  text-shadow: none;
  background: none !important;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;  
}


.submit_field {
	font-size: 1.4em;
	padding: 8px;
	text-align: center;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 0px 1px 5px rgba(000,000,000, .6);
}

.submit_field:hover {
	border: 1px solid rgba(211, 22, 79, .8);
}






/** ============== SHOW ================ **/

#bg-img {
	background-image: url("bg-image.png");
	position: fixed;
	margin: 0;
	min-width: 1600px;
	min-height: 700px;
	z-index: -99;
	opacity: .8;
}

#foot-wrapper {
	margin-top: 25px;
	display: block;
}

ul {
  display: block;
  text-align: center;
  margin: 0;
  padding-left: 0 !important;
    -webkit-padding-start: 0 !important;
}

li {
	margin: 0;
  display: inline-block;
}

button {
	margin: 0 8px;
  padding: 4px 6px;
  border: 1px solid white !important;
  border-radius: 100px;
  font-family: 'Lato 100', sans-serif;
  font-size: 1em;
  color: white !important;
  background: none !important;
}

button:hover {
  background: none !important;
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;  
}

/** ======= volume =========== **/
button.volume {
	margin: 0 8px;
  padding: 4px 6px;
  border: 1px solid white !important;
  border-radius: 100px;
  font-family: 'Lato 100', sans-serif;
  font-size: .5em;
  color: white !important;
  background: none !important;
}

button.volume:hover {
  background: none !important;
  -webkit-opacity: .6;
  -moz-opacity: .6;
  opacity: .6;
  -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;  
}

#volume-controls {
	position: absolute;
	right: 30px;
	bottom: 135px;
}

#logo-show {
	display: block;
	background: url(current-logo.png) no-repeat center;
	background-size: contain;
	height: 100px;
	text-align: center;
}

#svg-div {
	height: 200px;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 175px;
	background-color: rgb(215, 44, 69);	 
}






// div#mp3_player { width:500px; height:60px; background:#000; padding:5px; margin:50px auto; }
// div#mp3_player > div > audio{  width:500px; background:#000; float:left;  }
// div#mp3_player > canvas{ width:500px; height:30px; background:#002D3C; float:left; }
